# Node modules (already rebuilt in Docker)
**/node_modules
**/build

# Python caches and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/

# macOS, Linux & Windows system files
.DS_Store
Thumbs.db

# Git
.git
.gitignore
